.formclass {

    display: flex;
    justify-content: center;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    width: 25em;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 10px;
    margin: 0px auto;
}

input {

    border-radius: 3px;
    border-width: 1px;
    height: 2rem;

}

input:focus {


    border-color: #3B71CA
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    background-color: white;
    text-align: center;
}

.element {
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 15rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h5 {
    margin-bottom: 2px;
}

* {
    font-family: sans-serif;
    font-weight: normal;
}

.confirm-but {

    width: 20em;
    height: 2.5rem;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 2.5rem;
    background-color: #3B71CA;
    color: white;
    border-radius: 5px;

}

body {
    /*background-color: beige;*/
    background-color: rgb(245, 249, 252);
}

.element.success .err {
    display: none;
}

.element.error .err {

    color:red;

}