.formclass {

    display: flex;
    justify-content: center;
    border-width: 2px;
border-color: black;
border-style: solid;
    margin-left: 15rem;
    margin-right: 15rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px grey;
    box-shadow: -5px 5px grey;
    border-radius: 10px;
}
h2 {
    background-color: white;
    text-align: center;
}
.element {
    background-color: white;
    align-self: center;

}
h6 {
    margin-bottom: 2px;
}
* {
    font-family: sans-serif;
    font-weight: normal;
}
.confirm-but {

    align-self: center;
    width: 10px;

}