.formclass {

    display: flex;
    justify-content: center;
    border-width: 2px;
border-color: black;
border-style: solid;
    width: 20rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 10px;
    margin: 0px auto;
}
input {

    border-radius: 3px;
    border-width: 1px;

}
h2 {
    background-color: white;
    text-align: center;
}
.element {
    background-color: white;
    align-self: center;

}
h6 {
    margin-bottom: 2px;
}
* {
    font-family: sans-serif;
    font-weight: normal;
}
.confirm-but {

    width: 13em;
    height: 2rem;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3B71CA;
    color:white;
    border-radius: 5px;

}
body {
    background-color: beige;
}